*{margin: 0; }

body {
  background-color: #263238;
  margin: 0;
  padding: 0;
  border: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
}

/* classes*/


.card {
  background-color: white;
  width: 500px;
  height: 500px;
  overflow: auto;;
  box-shadow: 0px 10px 18px rgba(0,0,0,0.25), 0px 0px 20px rgba(0,0,0,0.22);
  border-radius: 5px;
  transition: all 0.3s;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1 1 25%;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.card:hover{
  box-shadow: 0px 15px 38px rgba(0,0,0,0.25), 0px 5px 33px rgba(0,0,0,0.22);
}

.cardHeading {
  font-family: 'Poiret One',serif;
  font-size: 3vw;
  color: white;
  margin-top: .5em;
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
  width: auto;
  height: auto;
}

.cardContent {
  font-family:  'Inconsolata', serif;
  font-size: 2em;
  color: white;
  line-height: 5vh;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}

.background{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 0;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
}

.iconImage{
  width: 200px;
  height: 200px;
}

.storeLinks {
  color: white;
  font-weight: 700;
  font-size: .7vw;
  font-family: 'Roboto', serif;
  text-transform: uppercase;
}

.projectDescrition{
  font-family:  'Inconsolata', serif;
  font-size: 2em;
  color: white;
  line-height: 5vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align-flex-center{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.algin-flex-vertical{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.projectCards {
  width: 60%;
  height: 55%;
  display: flex;
}

/* IDs */

#mainHeader {
	font-family:'Poiret One',serif;
  word-spacing: auto;
  letter-spacing: 15px;
  font-size: 4vw;
  text-align: center;
  padding: 150px 0px 100px 0px;
  color: black;
  background-color: #EEEEEE;
  height: 250px;
  width: 100vw;
	}

#titleBorder {

  background-color: black;
  width: 100vw;
  height: 35px;
  top: 50px;
  display: flex;
  justify-content: center;
}

#navList {
  list-style-type: none;
  align-self: center;
  margin: 0 auto;
  color: white;
}

#cardAboutMe{
  width: 25%%;
  height: 60%;
}

#cardExperience{
  width: 75%;
  height: 50%;
  flex-direction: column;
}

#paragraphs-horizontal{
  column-count: 3;
  overflow: auto;
  font-size: 1.6em;
  align-items: space-around;
}

/*
  keyframes and animations */
  @keyframes fadeIn {
    from{opacity:0;}
    to{opacity: 1;}
  }

  @keyframes fadeOut {
    from{opacity:1;}
    to{opacity: 0;}
  }

/* Type */
li{
  display: inline;
  color: white;
  font-size: 20px;
  font-family: "Roboto", Gadget, sans-serif;
  text-transform: uppercase;
  padding: 10px 20px;
}

.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}


/*@media (max-width: 600px){
  .cardContent{
    line-height: 35px;
  }
  .projectDescrition{
    line-height: 35px;
  }

  .projectCards{
    width: 75%;
  }

  #cardAboutMe{
    width: 2em;
    height: 30em;
  }

  #cardExperience{
    width: 85%;
  }


}*/
