*{margin: 0 auto;
  padding: 0 auto;}


body {
  background-color: #263238;;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.headings{
  color: white;
  font-size: 6.25em;
  margin: 10px 20px 10px 20px;
  text-decoration: underline;
  opacity: 1;
}

.container{
  width: 100vw;
  height: 100vh;
}

.content {
  font-size: 1.875em;
  width: 50vw;
  color: white;
  text-align: left;
  margin: 10px 10px 10px 10px;
}

.experienceContent{
  margin: 15px auto;
  width: 25vw;
  height: 25vh;
  text-align: center;
  font-size: 30px;
}

.linkStyle{
  color: #03A9F4;
  font-size: .75em;
  font-variant: small-caps;
}
.linkStyle:hover{
  color: #0277BD;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.flex-vertical{
  margin: 14px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70vw;
  height: 75%;
}

.margin {
  margin: 10px auto;
}

.typed-cursor{
  opacity: 0;
}

.fadeIn{
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
@keyframes come-in {
  to { transform: translateY(0); }
}
/*
  ID
  */

#coverContainer{
  background-image: url("seattle_backdrop.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#coverHeading{
  color: white;
  width: auto;
  font-size: 6.25em;
}

#aboutMeContainer{
  background-image: url("self_portrait_edit.jpg");
  background-size: cover;
  text-align: center;
}

#experienceContainer{
  background-image: url("desk_top_view.jpg");
}


#pushUpProjectContainer{
  background-image: url("pushUp_background.jpg");
  background-size: cover;
  text-align: center;
}

#stopProjectContainer{
  background-image: url("stop_background.jpg");
  background-size: cover;
  text-align: center;
}

#websiteProjectContainer{
  background-image: url("website_background.jpg");
}

#contactMeContainer{
  background-image: url("contact_background.jpg");
  background-size: cover;
}

/*
  Animations
*/
@keyframes fadeIn {
  from{opacity: 0;}
  to{opacity:1;}
}




/*
  Fonts
*/
.comfortaa {
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'Poiret One', cursive;*/

  /*font-family: 'Comfortaa', cursive;*/
}
.rightous{
  font-family: 'Righteous', cursive;
}
.yellowtail{
  font-family: 'Yellowtail', cursive;
}


/*
  Mobile
 */

@media screen and (max-width: 950px) {

p {
  font-size: 2em;
}

.headings{
  font-size: 4em;
}

.content{
  font-size: 1em;
}

.experienceContent{
  margin: 15px auto;
  width: 40vw;
  height: 20vh;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.25em;
}

.linkStyle{
  font-size: 1.25em;
}

.flex-vertical{
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  height: 100vh;
}

.flex-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}


#coverContainer{
  background-image: url("seattle_backdrop_mobile.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

#coverheading{
  font-size: 3em;
}

#aboutMeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

#aboutMeContent{
  font-size: .65em;
}

#experienceContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}



#pushUpProjectContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;

}

#stopProjectContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
}

#websiteProjectContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;

}

#contactMeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

#contactContent{
  font-size: 1em;
  width: auto;
}

}
